$primary: #3b82c4;
$success: #3fb950;
$danger: #da3633;
$warning: #d29922;
$maintenance: #7c3aed;
$link-color: #111;
$border-radius: 4px;
$border-radius-pill: $border-radius;
$secondary-text: #aaa;

$font-sans:
    "Plex Sans",
    BlinkMacSystemFont,
    segoe ui,
    Roboto,
    helvetica neue,
    Arial,
    noto sans,
    sans-serif;
$font-mono: "Plex Mono", ui-monospace, "SFMono-Regular", Menlo, Consolas, monospace;
$card-border-color: rgba(11, 26, 44, 0.1);
$card-border-color-dark: rgba(232, 237, 244, 0.08);

$highlight: #22d3ee;
$highlight-white: #e3f7fc;

$dark-font-color: #b1b8c0;
$dark-font-color2: #020b05;
$dark-bg: #0d1117;
$dark-bg2: #070a10;
$dark-border-color: #1d2634;
$dark-header-bg: #161b22;

$easing-in: cubic-bezier(0.54, 0.78, 0.55, 0.97);
$easing-out: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easing-in-out: cubic-bezier(0.79, 0.14, 0.15, 0.86);

$dropdown-border-radius: 0.25rem;
